<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="all"> 
<meta name="revisit-after" content="3 days"> 
<meta name="description" content="Getting a 1979 MGB GT back on the road after 17 years."> 
<meta name="keywords" content="MGB, MGB GT, 1979, restoration, Adam Liptrot, Inca Yellow"> 
<meta name="author" content="Designed and built by Adam Liptrot (www.liptrot.org)"> 
<meta name="Copyright" content="Adam Liptrot"> 
