<div class="schematic">
    <div class="schematic__blueprint">
        <object tabindex="-1" id="schematic__host" type="image/svg+xml" data="/assets/images/schematic.svg"></object>
    </div>
    <nav class="archive-map" aria-label="Categories">
        <ul role="list">
            <li><a class="archive-map__item" href="/archives"><span aria-hidden="true">all</span><span class="hide">see all posts</span></a></li>

        {% for tagItem in collections.tagList | sortAZ %}
            <li><a data-system="{{ tagItem | slug }}" class="archive-map__item inactive " href="/archives/{{ tagItem | slug }}"><span aria-hidden="true">{{ tagItem }}</span><span class="hide">see all {{ tagItem }} posts</span></a></li>
        {% endfor %}



        </ul>
    </nav>
</div>