---
title : "Bodywork plan"
slug : "bodywork-plan"
date : 2024-06-18T12:00:00.000Z
archives : ["2024", "2024/06"]
tags : ["bodywork and exterior"]
layout: "post-special.njk"
hero : false
images:
   -
       caption : ""
       id : "53816634430"
       secret : "a682072aa9"
       server : "65535"
       media : "photo"
       alt : ""

schematicPassenger :

   -
       caption : "Mid rear wing chrome"
       id : "53816614610"
       secret : "884d9e64f3"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "71"
       orient: "portrait"

   -
       caption : "Sill joint"
       id : "53816504619"
       secret : "7113128f1f"
       server : "65535"
       media : "photo"
       alt : ""
       top: "69"
       left: "59"
       orient: "portrait"

   -
       caption : "Door rear edge at chrome"
       id : "53815248337"
       secret : "b69af831e5"
       server : "65535"
       media : "photo"
       alt : ""
       top: "44"
       left: "61"
       orient: "portrait"

   -
       caption : "Door leading edge at chrome"
       id : "53815248397"
       secret : "39117a5f4b"
       server : "65535"
       media : "photo"
       alt : ""
       top: "44"
       left: "40"
       orient: "portrait"

   -
       caption : "Front wheelarch at mudflap"
       id : "53815248507"
       secret : "1fc6322db8"
       server : "65535"
       media : "photo"
       alt : ""
       top: "68"
       left: "27"
       orient: "portrait"

   -
       caption : "Gutter seam base"
       id : "53816504999"
       secret : "d299e110d1"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "40"
       orient: "portrait"

   -
       caption : "Wing top seam"
       id : "53816414268"
       secret : "24baa62698"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "38"
       orient: "portrait"

   -
       caption : "Front wheel arch chrome"
       id : "53816414593"
       secret : "1b6b320f06"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "14"
       orient: "portrait"

   -
       caption : "Front wing leading chrome edge"
       id : "53815248782"
       secret : "db93cd8e5c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "9"
       orient: "portrait"

   -
       caption : "Headlight edge"
       id : "53816505404"
       secret : "888fc37eea"
       server : "65535"
       media : "photo"
       alt : ""
       top: "53"
       left: "8"
       orient: "portrait"

   -
       caption : "Rear window rear bottom corner"
       id : "53816634105"
       secret : "335a5d3448"
       server : "65535"
       media : "photo"
       alt : ""
       top: "33"
       left: "79"
       orient: "portrait"

   -
       caption : "Rear wing chrome"
       id : "53816432638"
       secret : "5b35a29165"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "87"
       orient: "landscape"

   -
       caption : "Door window chrome trailing edge"
       id : "53816634430"
       secret : "a682072aa9"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "60"
       orient: "landscape"

   -
       caption : "Door window chrome mid"
       id : "53816524524"
       secret : "e8009cf336"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "52"
       orient: "landscape"

   -
       caption : "Door inner of front leading edge"
       id : "53816195051"
       secret : "24f76fa032"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "44"
       orient: "portrait"

schematicDriver :

   -
       caption : "Headlight edge"
       id : "53815249217"
       secret : "daa3cc60a5"
       server : "65535"
       media : "photo"
       alt : ""
       top: "50"
       left: "91"
       orient: "portrait"

   -
       caption : "Headlight side"
       id : "53816414893"
       secret : "532b66db0c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "52"
       left: "89"
       orient: "portrait"

   -
       caption : "Front wing leading chrome edge at headlight"
       id : "53816615735"
       secret : "d6877b2e8d"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "87"
       orient: "portrait"

   -
       caption : "At chrome in front of front wheelarch"
       id : "53816616000"
       secret : "1d810e83c4"
       server : "65535"
       media : "photo"
       alt : ""
       top: "46"
       left: "82"
       orient: "portrait"

   -
       caption : "At chrome at rear of front wheelarch"
       id : "53816615935"
       secret : "e26249a921"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "76"
       orient: "portrait"

   -
       caption : "Front wing mid chrome"
       id : "53816176436"
       secret : "d9a5022954"
       server : "65535"
       media : "photo"
       alt : ""
       top: "45"
       left: "71"
       orient: "portrait"

   -
       caption : "Front wing mid chrome"
       id : "53815250007"
       secret : "de2718ee51"
       server : "65535"
       media : "photo"
       alt : ""
       top: "45"
       left: "68"
       orient: "portrait"

   -
       caption : "Door skin front"
       id : "53815250107"
       secret : "642d7a5684"
       server : "65535"
       media : "photo"
       alt : ""
       top: "43"
       left: "58"
       orient: "portrait"

   -
       caption : "Door lower edge"
       id : "53816616340"
       secret : "4a616acf3d"
       server : "65535"
       media : "photo"
       alt : ""
       top: "58"
       left: "54"
       orient: "portrait"

   -
       caption : "Door lower edge"
       id : "53816616495"
       secret : "097ae902a0"
       server : "65535"
       media : "photo"
       alt : ""
       top: "66"
       left: "54"
       orient: "portrait"

   -
       caption : "Door skin middle"
       id : "53816415853"
       secret : "5306a1f869"
       server : "65535"
       media : "photo"
       alt : ""
       top: "66"
       left: "48"
       orient: "portrait"

   -
       caption : "Door skin rear"
       id : "53816177106"
       secret : "83d63a715a"
       server : "65535"
       media : "photo"
       alt : ""
       top: "60"
       left: "45"
       orient: "portrait"

   -
       caption : "Door skin rear"
       id : "53816415893"
       secret : "25f6b2d0b2"
       server : "65535"
       media : "photo"
       alt : ""
       top: "58"
       left: "40"
       orient: "portrait"

   -
       caption : "Door lower corner"
       id : "53816416158"
       secret : "89063f488c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "63"
       left: "36"
       orient: "portrait"

   -
       caption : "Door shut line"
       id : "53815250897"
       secret : "a10e7656e8"
       server : "65535"
       media : "photo"
       alt : ""
       top: "53"
       left: "35"
       orient: "portrait"

   -
       caption : "Door window chrome trailing end"
       id : "53816616975"
       secret : "563edc379c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "36"
       


   -
       caption : "Door window chrome middle"
       id : "53816523514"
       secret : "26468f1223"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "42"
       orient: "landscape"

   -
       caption : "Rear wing front chrome"
       id : "53816523479"
       secret : "6c61ab47f8"
       server : "65535"
       media : "photo"
       alt : ""
       top: "41"
       left: "30"
       orient: "landscape"

   -
       caption : "Rear wing middle chrome"
       id : "53816523494"
       secret : "327402121c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "41"
       left: "22"
       orient: "landscape"



   -
       caption : "Rear wing rear chrome"
       id : "53816177606"
       secret : "2a186158ae"
       server : "65535"
       media : "photo"
       alt : ""
       top: "41"
       left: "12"
       orient: "landscape"

   -
       caption : "Bootlid bottom edge middle"
       id : "53816432233"
       secret : "31b4c1564c"
       server : "65535"
       media : "photo"
       alt : ""
       top: "12"
       left: "4"
       orient: "landscape"

   -
       caption : "Bootlid bottom edge right"
       id : "53816633730"
       secret : "cf5d3b909a"
       server : "65535"
       media : "photo"
       alt : ""
       top: "22"
       left: "2"
       orient: "landscape"

   -
       caption : "Bootlid bottom edge left"
       id : "53816432298"
       secret : "de9583c981"
       server : "65535"
       media : "photo"
       alt : ""
       top: "32"
       left: "0"
       orient: "landscape"


---

<style>

.post-special article {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.post-special .inner {
    grid-column: 1 / -1;
}
@media screen and (min-width: 1000px){
    .post-special .inner {
        grid-column: 2 / -2;
    }
}
.post-special .schematic-side {
    grid-column: 1 / -1;
}
article object {
    width: 100%;    
    display: block;
}


{# .schematic-side__blueprint {
    display: flex;
    
} #}

.schematic-side__blueprint--reverse object {
    transform: scale3d(-1, 1, 1);
}

.schematic-side__blueprint__inner {
    max-width: 45em;
    margin: 0 auto;
    position: relative;
}
.schematic__number {
    position: absolute;
    top: 10px;
    left: 10px;

    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    border-radius: 50%;
    width: 1.5em;
    display: inline-block;
    height: 1.5em;
    text-align: center;
    outline: 2px solid white;
    padding: 0;
    border: none;
    z-index: 1; {# keeps number above image when filter applied #}
}
.schematic__number:focus {
    background: hotpink;
}
    {# object ~ span:before {
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 3px solid #fa00ff;
        border-radius: 50%;        
        outline: 2px solid white;
        top: 0.25em;
        position: relative;
    } #}
    

.schematic-side__map {
    position: relative;
}

.schematic-side__map ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.schematic-side__map .schematic-side__media {
    max-width: 15rem;
    display: inline-block;
    position: relative;
}
.schematic-side__map li:has([data-orient="landscape"]) {
    max-width: 25rem;
}
    
.schematic-side__map img {
    width: 100%;
    vertical-align: top;
}
{# 
.schematic-side__map ol:has(li.schematic-focus) li:not(.schematic-focus) img,
.schematic-side__map ol:focus-within li:not(:has(button:focus)) img {
    filter: saturate(0.25);
} #}
{# start anchor #}
@supports not (anchor-name: --myAnchor) {
    .schematic-side__blueprint .schematic-side__map {
        display: none;
    }
}
@supports (anchor-name: --myAnchor) {
    .schematic-side:has(li.schematic-focus) object {
        opacity: 0.75;
    }

    .schematic-side__blueprint__inner object {
        transition: opacity 0.25s linear;
    }
    .schematic-side__map .schematic-side__media {
        position: fixed;
        inset-block-start: anchor(end);
        inset-inline-start: anchor(self-end);
        inset-area: center right;
        background: #fff;
        border: 3px solid #fff;
        margin-left: 1rem;
        outline: 1px solid;
        box-shadow: 0px -1px 7px 1px rgba(0, 0, 0, 0.25);
    }
    .schematic-side__map .schematic-side__media,
    .schematic-side__map .schematic-side__media button {
        display: none;
    }
    .schematic-side__map .schematic-side__media.schematic-focus {
        display: block;
        z-index: 100;
    }
    .schematic-side__map figure {
        margin: 0!important;
    }
    .schematic-side__map figure:before {
        position: absolute;
        content: "";
        width: 0rem;
        height: 0rem;
        border: 1rem solid transparent;
        border-right-color: white;
        top: calc(50% - 1rem);
        left: -2rem;
    }
}
{# end anchor #}

.schematic-side__map a {
    border: 2px solid transparent;
    display: block;
    outline: none;
}
.schematic-side__map a:focus {
    border-color: currentColor;
}

.schematic-side figure {
    margin: 0 2.5rem 5rem 0;
}
.schematic-side figcaption {
    line-height: 1.2;
    font-size: 1.6rem;
}
</style>


<div class="inner">
I have a plan. The B is suffering a little from a lot of small blemishes in the form of rust spots and paint chips caused by years of happy driving. The plan is to sort these out and make the B a little more presentable in the process - and ensure they don't become larger problems.

I've gone over the bodywork and taken photos and marked the location of any areas where there is a spot of rust starting. Some of these, like the headlight bowl where it meets the chrome strip I have looked at before, but I have better knowledge now, and some better anti-rust products.
</div>

<div class="schematic-side">
    <div class="schematic-side__blueprint schematic-side__blueprint--reverse">
        <div class="schematic-side__blueprint__inner">
            <object tabindex="-1" id="schematic-side__host" role="image" aria-label="Passenger side schematic of the B" type="image/svg+xml" data="/assets/images/B-side-optimised.svg"></object>        
            {% for img in schematicPassenger  %}
                <button class="schematic__number" data-img="img-{{ img.id }}" style="top: {{ img.top }}%; left: {{ img.left }}%; anchor-name: --anchor{{ img.id }}"><span>{{loop.index0 + 1}}</span><span class="hide"> Jump to photo of this location</span></button>
                <div class="schematic-side__map">
                    <div class="schematic-side__media" id="img-{{ img.id }}" style="position-anchor: --anchor{{ img.id }};">
                        {%
                            set passthrough = ['<button class="schematic__number" data-img="img-', img.id, '" id="img-', img.id, '"><span>', loop.index0 + 1, '</span><span class="hide"> Jump to this location on schematic</span></button>'] | join
                        %}
                        {{ img | mediaDisplay(passthrough)  | safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="schematic-side__map" aria-label="Driver side">
        <ol>
            {% for img in schematicPassenger  %}
            <li class="schematic-side__media" id="Ximg-{{ img.id }}">
                {%
                    set passthrough = ['<button class="schematic__number" data-img="img-', img.id, '" id="img-', img.id, '"><span>', loop.index0 + 1, '</span><span class="hide"> Jump to this location on schematic</span></button>'] | join
                %}
                {{ img | mediaDisplay(passthrough)  | safe }}
            </li>
            {% endfor %}
        </ol>
    </nav>
</div>

<div class="schematic-side">
    <div class="schematic-side__blueprint">
        <div class="schematic-side__blueprint__inner">
            <object tabindex="-1" id="schematic-side__host" role="image" aria-label="Driver side schematic of the B" type="image/svg+xml" data="/assets/images/B-side-optimised.svg"></object>
            {% for img in schematicDriver  %}
                <button class="schematic__number" data-img="img-{{ img.id }}" style="top: {{ img.top }}%; left: {{ img.left }}%; anchor-name: --anchor{{ img.id }}"><span>{{ schematicPassenger.length + loop.index0 + 1}}</span><span class="hide"> Jump to photo of this location</span></button>
                <div class="schematic-side__map">
                    <div class="schematic-side__media" id="img-{{ img.id }}" style="position-anchor: --anchor{{ img.id }};">
                        {%
                            set passthrough = ['<button class="schematic__number" data-img="img-', img.id, '" id="img-', img.id, '"><span>', loop.index0 + 1, '</span><span class="hide"> Jump to this location on schematic</span></button>'] | join
                        %}
                        {{ img | mediaDisplay(passthrough)  | safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="schematic-side__map" aria-label="Driver side">
        <ol>
            {% for img in schematicDriver  %}
            <li class="schematic-side__media" id="img-{{ img.id }}" style="position-anchor: --anchor{{ img.id }};">   
                {%
                    set passthrough = ['<button class="schematic__number" data-img="img-', img.id, '" id="img-', img.id, '"><span>', schematicPassenger.length + loop.index0 + 1, '</span><span class="hide"> Jump to this location on schematic</span></button>'] | join
                %} 
                {{ img | mediaDisplay(passthrough) | safe }}
            </li>
            {% endfor %}
        </ol>
    </nav>
</div>

<div class="inner">
I have a plan. The B is suffering a little from a lot of small blemishes in the form of rust spots and paint chips caused by years of happy driving. The plan is to sort these out and make the B a little more presentable in the process - and ensure they don't become larger problems.

I've gone over the bodywork and taken photos and marked the location of any areas where there is a spot of rust starting. Some of these, like the headlight bowl where it meets the chrome strip I have looked at before, but I have better knowledge now, and some better anti-rust products.
</div>  