---
layout: static.njk
title: "About"
permalink: /about/
bodyClass: "about article"
---
<h1>About</h1>


<h2>Keeping it in the family.</h2>
<p>In late 2007 I was very fortunate to aquire a 1979 MGB GT from a member of my family. Even though it had been <a href="/posts/2007/04/uncovered/">sat in a garage</a> largely untended for about 17 years and had to be <a href="/posts/2007/10/ready-to-move/">trailered home</a>, I was very excited to get hold of it.</p>
<img src="/assets/images/garaged.jpg" alt="The MG in its previous home." />

<h2>The Team</h2>
<p>Two enthusiastic chaps, one car.</p>
<img src="/assets/images/TheTeam.jpg" alt="Adam and Ken with the MG at the Kimber Run" />

<div class="team">
    <div class="team__item">
        <h3>Adam Liptrot</h3>
        <p>I'm a web developer in my day job and have always loved good design, so when I saw the MG I was hit by its fantastic lines. Blinded a little by the exterior, I had little understanding of what needed doing underneath of course.</p>
        <p>When we pushed the B out of the garage it'd been sat in, I had no idea how an engine worked, no idea what a carburettor did, but getting it back on the road has been one of the best things I've done.</p>
    </div>
    <div class="team__item">
        <h3>Ken Moody</h3>
        <p>Throughout the project I've lent heavily on the mechanical knowledge of Ken Moody, who has very patiently explained how everything works, especially the electrics. He's given me the confidence to work on areas where I would probably have faltered on my own and I definitely wouldn't have got as far on this project without him.</p>
        <p>Ken passed away during the Christmas holidays of 2010 and will be sorely missed, both for his knowledge and friendship.</p>
    </div>
</div>

<img src="/assets/images/engine-bay.jpg" alt="The engine bay - as we found it and part-way through restoration" />

<h2>Contact</h2>
<p>If you have any comments or questions (or advice!), please leave a comment in the articles or drop me a line at
<script type="text/javascript">
/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\")''(nioj.)(esrever.)''(tilps.edok=edok;\\\"kode=\\\"\\\\)''(nioj.)("+
"esrever.)''(tilps.edok=edok;\\\\\\\\\\\"\\\\kode=\\\\\\\\\\\"\\\\\\\\\\\\"+
"\\\\\\\\oducemtnw.iret\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\"+
"\\\\\\\\\\\\(a<h er=f\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\amliota:ad@mniaceyllwoc.mos?buejtcI=cn aeYllwo\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\t tiel\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\=\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\"+
"\\\\\\>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\dam"+
"ai@cnyaleol.woc<ma/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\"+
"\\\\\\\\\\>;)\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\;x='';for(i=0;i<(kode.length-"+
"1);i+=2){x+=kode.charAt(i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.cha"+
"rAt(kode.length-1):'');\\\\\\\\\\\"\\\\=edok\\\"\\\\;kode=kode.split('').r"+
"everse().join('')\\\"=edok\";kode=kode.split('').reverse().join('')"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script>
    <noscript>adam [at] incayellow [dot] com</noscript>
</p>