---
layout: static.njk
title: "About"
permalink: /about/
bodyClass: "about article basic"
images:

   -
       caption : ""
       id : "2194035252"
       secret : "61865ef7f7"
       server : "2225"
       media : "photo"
       alt : ""
       marker : "01"

   -
       caption : ""
       id : "4263133326"
       secret : "b0a7f50ed7"
       server : "4063"
       media : "photo"
       alt : ""
       marker : "02"
   -
       caption : ""
       id : "3090367356"
       secret : "c3902bd5be"
       server : "3049"
       media : "photo"
       alt : ""
       marker : "03"

   -
       caption : ""
       id : "2617288043"
       secret : "037216757e"
       server : "3094"
       media : "photo"
       alt : ""
       marker : "04"
   -
       caption : ""
       id : "4298730940"
       secret : "5459ed83c5"
       server : "4054"
       media : "photo"
       alt : ""
       marker : "05"

   -
       caption : ""
       id : "3384418695"
       secret : "60c85029b8"
       server : "3419"
       media : "photo"
       alt : ""
       marker : "06"
   -
       caption : ""
       id : "3402374464"
       secret : "da2725a2e3"
       server : "3463"
       media : "photo"
       alt : ""
       marker : "07"
   -
       caption : ""
       id : "4723316647"
       secret : "7de75b753f"
       server : "1056"
       media : "photo"
       alt : ""
       marker : "08"

   -
       caption : ""
       id : "52770706507"
       secret : "a4803a5a0f"
       server : "65535"
       media : "photo"
       alt : ""
       marker : "09"

---



<h2>Keeping it in the family.</h2>
<p>In late 2007 I was very fortunate to aquire a 1979 MGB GT from a member of my family. Even though it had been <a href="/posts/2007/04/uncovered/">sat in a garage</a> largely untended for about 17 years and had to be <a href="/posts/2007/10/ready-to-move/">trailered home</a>, I was very excited to get hold of it.</p>
<div class="photoinsert">
 //PH01 //PH02
</div>

<h2>The Team</h2>
<p>Two enthusiastic chaps, one car.</p>
<div class="photoinsert">
 //PH03 //PH04
</div>

<div class="team">
    <div class="team__item">
        <h3>Adam Liptrot</h3>
        <p>I'm a web developer in my day job and have always loved good design, so when I saw the MG I was hit by its fantastic lines. Blinded a little by the exterior, I had little understanding of what needed doing underneath of course.</p>
        <p>When we pushed the B out of the garage it'd been sat in, I had no idea how an engine worked, no idea what a carburettor did, but getting it back on the road has been one of the best things I've done.</p>
    </div>
    <div class="team__item">
        <h3>Ken Moody</h3>
        <p>Throughout the project I've lent heavily on the mechanical knowledge of Ken Moody, who has very patiently explained how everything works, especially the electrics. He's given me the confidence to work on areas where I would probably have faltered on my own and I definitely wouldn't have got as far on this project without him.</p>
        <p>Ken passed away during the Christmas holidays of 2010 and will be sorely missed, both for his knowledge and friendship.</p>
    </div>
</div>

<div class="photoinsert">
 //PH05 //PH06 
</div>

<div class="photoinsert">
 //PH07 //PH08
</div>

<div class="photoinsert">
 //PH09
</div>

<h2>Contact</h2>
<p>If you have any comments or questions (or advice!), please leave a comment in the articles or drop me a line at
<script type="text/javascript">
/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\")''(nioj.)(esrever.)''(tilps.edok=edok;\\\"kode=\\\"\\\\)''(nioj.)("+
"esrever.)''(tilps.edok=edok;\\\\\\\\\\\"\\\\kode=\\\\\\\\\\\"\\\\\\\\\\\\"+
"\\\\\\\\oducemtnw.iret\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\"+
"\\\\\\\\\\\\(a<h er=f\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\amliota:ad@mniaceyllwoc.mos?buejtcI=cn aeYllwo\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\t tiel\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\=\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\"+
"\\\\\\>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\dam"+
"ai@cnyaleol.woc<ma/\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\"+
"\\\\\\\\\\>;)\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\;x='';for(i=0;i<(kode.length-"+
"1);i+=2){x+=kode.charAt(i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.cha"+
"rAt(kode.length-1):'');\\\\\\\\\\\"\\\\=edok\\\"\\\\;kode=kode.split('').r"+
"everse().join('')\\\"=edok\";kode=kode.split('').reverse().join('')"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script>
    <noscript>adam [at] incayellow [dot] com</noscript>
</p>
