---
permalink: '/feed.xml'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Inca yellow</title>
	<subtitle>The story of getting a B back on the road and the ongoing work to keep it there.</subtitle>
	<link href="https://incayellow.com{{ permalink }}" rel="self"/>
	<link href="https://incayellow.com/"/>
	<updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
	<id>https://incayellow.com/</id>
	<author>
  <name>Adam Liptrot</name>
  <email>adam@incayellow.com</email>
	</author>
	{% for post in collections.postsRev %}
  {% set absolutePostUrl %}https://incayellow.com{{ post.url | url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[
      {{ post.templateContent | safe }}
    ]]></content>
  </entry>
	{% endfor %}
</feed>