---
pagination:
    data: collections
    size: 1
    alias: tag
    filter:
        - all
        - nav
        - post
        - posts
layout: tags.njk
renderData:
    title: Tagged “{{ tag }}”
permalink: /archives/{{ tag | slug }}/
tag: tag
---
<h1>Tagged “{{ tag }}”</h1>
{% set postlist = collections[ tag ] | reverse %}


{% include "partials/post-list.njk" %}