.wrap--latest {
    grid-template-columns: 1fr;
    padding: 0 2rem 4rem;
    grid-column-gap: 2rem;
    column-gap: 2rem;
    grid-row-gap: 2rem;
    row-gap: 2rem;
}
.latest {
    grid-column: 1 / -1;
}
.latest__posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    margin: 4rem 0;
    padding: 0;
    list-style: none;
}
.latest__post {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin: 0 2rem;
}
    .latest__post:first-child {
        margin-left: 0;
    }
    .latest__post:last-child {
        margin-right: 0;
    }
@supports (display: grid){
    .latest__post {
        margin: 0;
    }
}
.latest__post a {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.latest__post-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background: #efefef;
    padding: 0.25em;
    font-size: 2.6rem;
    padding-bottom: 0.5em;
    z-index: 4;
    position: relative;
}
@supports (display: grid) {
    .latest__post-title {
        height: auto;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1000px){
    .wrap--latest {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .latest__posts {
        display: flex;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: repeat(4, 1fr);
    }
    .latest__post {
        flex: 1 0 0px;
    }
    @supports (display: grid) {
        .latest__post {
            min-width: none;
        }
    }
}

.intro {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2rem;
}

@media screen and (min-width: 600px){
    .intro {
        font-size: 3rem;
    }
}

@media screen and (min-width: 800px){
    .intro {
        font-size: 4rem;
    }
}

.intro a {
    white-space: nowrap;
}

