
.archive-map {
    flex: 1 0 30%;
    order: 1;

    text-align: right;
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
    z-index: 2;
}
.archive-map li {
    padding-bottom: 0.5em;
    line-height: 0.8;
}
.archive-map__item {
    font-size: 1.3rem;
    color:var(--textOnDark);
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans';
    font-weight: 300;
    position: relative;
    padding: 2px;
}
@supports (font-variation-settings: normal) {
    .archive-map__item {
        font-family: 'Source Sans Variable';
        font-variation-settings: "wght" 400;
    }
}
.archive-map__item:after{
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--textOnDark);
    position: absolute;
    top: 50%;
    right: -70px;
}
.archive-map__item:before {
    content: "";
    left: -0.2em;
    right: -0.2em;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    transform: skewX(-14deg);
}
.archive-map__item,
.archive-map__item:after,
.archive-map__item:before {
    transition: background-color 0.15s ease;
}
.archive-map .active {
    color: var(--textOnLight);
    background-color: var(--incayellow)
}
.archive-map .active:before {
    background-color: var(--incayellow);
}
.archive-map__item.active::after {
    background-color: var(--incayellow);
}
.archive-map .hover,
.archive-map__item:hover,
.archive-map__item:focus {
    color: var(--textOnLight);
    background-color: var(--textOnDark)
}
.archive-map .hover:before,
.archive-map__item:hover:before,
.archive-map__item:focus:before {
    background-color: var(--textOnDark);
}
.archive-map__item.hover::after,
.archive-map__item:hover:after,
.archive-map__item:focus:after {
    background-color: var(--textOnDark);
}

.schematic {
    padding: 6rem 0;
    display: flex;
    width: 100%;
}
.schematic__blueprint {
    flex: 1 0 0px;
    order: 2;

    z-index: 1;
    grid-column: 2 / -1;
    align-self: center;
    justify-self: start;
}

#schematic__host {
    transform: rotate(90deg);
    transition: transform 1s ease;
    height: 28rem;
    left: -10rem;
    //transform-origin: calc(50% + 60px) 0;
    //top: 50%;
    position: relative;
}
@supports (display: grid) {
    .schematic {
        display: grid;
        grid-template-columns: 1fr minmax(0,2fr);
    }
}
@media screen and (min-width: 760px) {
    #schematic__host {
        height: 34rem;
    }
}
@media screen and (min-width: 1000px) {
    .schematic__blueprint {
        float: right;
        width: 100rem;
        shape-outside: polygon(11.75% 7px, 56.3% 815px, 99.16% 805px, 100% 0px);
    }
    .schematic {
        display: block;
        //direction: rtl;
        min-width: 50em;
        padding: 4rem 0;
    }
    #schematic__host {
        transform: rotate(61deg);
        height: 50rem;
        //top: 0;
        transform-origin: calc(50% + 60px) 0;
        //top: 50%;
        left: 12%;
    }
    .archive-map__item {
        white-space: nowrap;
    }
    .fatfooter {
        overflow: visible;
    }
}



.theme--dark #blueprint > #night {
    display: block;
    animation-delay: 2s;
    @include animation-duration(0.5s);
    @include animation-name(lightitup);
    @include animation-timing-function(linear);
    @include animation-iteration-count(1);
    animation-fill-mode: forwards;
}
@keyframes lightitup {
    0% {opacity: 0;}
    10% {opacity: 0.25;}
    to   {opacity: 1;}
}