{% import "partials/macros.njk" as snippets with context %}

{% include "partials/header.njk" %}

<body class="{{ bodyClass }}">


    {% include "partials/menu.njk" %}

    <main class="wrap wrap--latest">

        <h1 class="intro">The story of <a href="{{ collections.posts[0].url }}">getting a B back on the road</a> and the ongoing work to <a href="/archives/">keep it there</a>.</h1>
        <h2 class="hide">Latest posts</h2>
        <ul class="latest__posts" role="list">
        {% for item in collections.latestPosts %}
            {% set imgSize = "d" %}
            {% if loop.index0 == 1 %}
                {% set imgSize = "c" %}
            {% endif %}
            <li class="moment latest__post latest__post--{{loop.index0}}">

                <style>
                    .latest__post--{{loop.index0}} a {
                        background-image: url(https://farm9.static.flickr.com/{{ item.data.images[0].server }}/{{ item.data.images[0].id }}_{{ item.data.images[0].secret }}_d.jpg);
                    }
                </style>
                <a href="{{ item.url }}">
                    <span class="latest__post-title">
                        {{ item.data.title }}
                    </span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </main>



{% include "partials/footer.njk" %}