{% include "partials/header.njk" %}
{% set bodyClass = "post" %}
{% set threshold = 1000 %}
{% if content.length < threshold and ((images[0].media) and (images[0].media != "video")) %}
    {% set bodyClass = "post shortcopy" %}
{% endif %}
<body class="{{ bodyClass }}">
    {% include "partials/menu.njk" %}
    <main>
        <div class="wrap">
            <article>
                <div class="inner">
                    <div class="head">
                        <h1>{{ title }}</h1>
                        <time class="post-date" datetime="{{ date | getYear }}-{{ date | getMonth }}-{{ date | getDay }}">{{ date | parseDate }}</time>
                    </div>
                    <div class="content">
                    {{ content | safe }}
                    </div>
                    <div class="photos">
                        {{ images | imageList(content.length > threshold) | safe }}
                    </div>
                    <footer class="tags">
                        <h2>categories</h2>
                        <ul role="list">
                            {{ tags | tagTemplate | safe }}
                        </ul>
                    </footer>
                </div>
            </article>

            <div class="hero">
                <div class="hero__outer">
                    <div class="hero__imagewrap">
                        {{ images | heroTemplate(content.length > threshold) | safe }}
                    </div>
                </div>
            </div>

            <nav class="further-reading further-reading--post" aria-label="Read previous or next post">
                {% set currentItemIndex = 0 %}
                {% for item in collections.posts  %}{% if item.url == page.url %}{% set currentItemIndex = loop.index0 %}{% endif %}{% endfor %}
                <ul>
                {% set nextItemIndex = currentItemIndex - 1  %}
                {% if nextItemIndex >= 0 %}
                    {% set nextItem = collections.posts[nextItemIndex] %}
                    <li class="further-reading__prev">
                        <a href="{{ nextItem.url  }}" rel="Previous"><span aria-hidden="true">&larr;&nbsp;</span><span class="further-reading__title">{{ nextItem.data.title }}</span></a>
                    </li>
                {% endif %}

                {% set prevItemIndex = currentItemIndex + 1  %}
                {% if prevItemIndex < collections.posts.length %}
                    {% set prevItem = collections.posts[prevItemIndex] %}
                    <li class="further-reading__next">
                        <a href="{{ prevItem.url  }}" rel="Next"><span class="further-reading__title">{{ prevItem.data.title }}</span><span aria-hidden="true">&nbsp;&rarr;</span></a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </main>
    {% include "partials/footer.njk" %}