{% include "partials/header.njk" %}
<body class="{{bodyClass}}">
    {% include "partials/menu.njk" %}
    <main>
        <div class="wrap">
            <article>
                <h1>{{title}}</h1>

                {{ content | placeholders(images) | safe }}

            </article>
            {# {% if images %}
            <div class="hero">
                <div class="hero__outer">
                    <div class="hero__imagewrap">
                        {{ images | heroTemplate(content.length > threshold) | safe }}
                    </div>
                </div>
            </div>
            {% endif %} #}
        </div>
    </main>

{% include "partials/footer.njk" %}