{% include "partials/header.njk" %}
<body class="{{bodyClass}}">
<div class="hero">
    {% include "partials/menu.njk" %}
    <div class="imgWrap">
        <img src="https://farm3.staticflickr.com/2201/2193245601_733447c46e_d.jpg" data-orient="landscape" alt="" />
    </div>
</div>

<article>
        <h1>{{title}}</h1>

        {{content | safe }}

    </article>






{% include "partials/footer.njk" %}